 
@font-face {
      font-family: 'Helvetica Neue Condensed';
      src: url('./HelveticaNeueCondensedBlack.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
    }

html {
      scroll-behavior: smooth;
}
  
#hero {
            height:80vh;
            width:100%;
            display:flex;
            position: relative;
            overflow: hidden;
}


#hero::after {
      width:100%;
      height:100%;
      content: '';
      position:absolute;
      z-index:1;
      top:0;
      left:0;
      background:rgba(0,0,0,0.5)
}


#hero video {
      align-items:center;
      justify-content: center;
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      z-index:0;
      object-fit:cover;
      font-family:'object-fit: cover';
}

.logo img {
      width: 47px;
    }  

#hero .top-bar {

      position: absolute;
      display: flex;
      justify-content: space-between;
      padding: 20px 20px;
      align-items: center;
      z-index:20;
      right: 0;
      left: 0;
}

ul {
      list-style: none;
}

a {
      text-decoration: none;
      color: white;
      font-family: 'Helvetica Neue Condensed', sans-serif;
    }  

.info a {
      font-size: 22px;
      font-weight: bold;
      margin: 0;
      display: inline-block;
      background-color: #E42313;
      padding: 10px 15px;
      border-radius: 10px;
      transition: background-color 0.3s, color 0.3s;
}

.info a:hover {
      background-color: black;
      color: #E42313;
  }

.bottom-strip {
      bottom: 0;
      width: 100%;
      background-color: black;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      overflow: hidden;
      font-family: 'Helvetica Neue Condensed', sans-serif;
      z-index: 10;
      }
  
    .moving-text {
      display: flex;
      animation: move 24s linear infinite;
    }
    
    .moving-text span {
      color: white;
      font-size: 35px;  
      font-weight: bold;
      margin: 0 20px;
      white-space: nowrap;
    }
  
    @keyframes move {
      0% {
          transform: translateX(100%);
      }
      100% {
          transform: translateX(-100%);
      }
  }

.footer {
      background-color: #000;
      border-top: 1px solid #E42313;
      color: #fff;
      text-align: center;
      padding: 15px 10px 25px 10px;
      margin: 0;
    }
    
    .footer .full-logo img {
      max-width: 150px;
      margin-bottom: 10px;
    }
    
    .regtext {
      font-family: 'Helvetica Neue Condensed', sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      margin: 7px 0px 1px 0px;
    }

    .redtxt {
      font-family: 'Helvetica Neue Condensed', sans-serif;
      text-transform: uppercase;
      font-size: 22px;
      margin: 10px 0px 0px 0px;
      color: #E42313;
    }

    .bottomtxt {
      font-family: 'Helvetica Neue Condensed', sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0px 20px 0px;
    }

@media screen and (min-width:768px)
{
      #hero .top-bar {
            padding-left: 2rem;
            padding-right: 2rem;
      }
}
    